<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="footer" th:fragment="footer">
		<div class="container">
			<div class="footer-agileitsrow">
				<div class="col-md-3 footer-grid">
					<h3>About US</h3>
					<p>沈阳聚福缘窗膜是一家专业从事汽车膜建筑膜的专业服务商，公司具有完整的企业形象，一流的科技产品，完善的管理制度，优秀的售后服务，高效的销售团队，专业的施工队伍。</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Social Media</h3>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"
								aria-hidden="true"></i> Facebook</a></li>
						<li><a href="#"><i class="fa fa-twitter"
								aria-hidden="true"></i> Twitter</a></li>
						<li><a href="#"><i class="fa fa-google"
								aria-hidden="true"></i> Google+</a></li>
						<li><a href="#"><i class="fa fa-dribbble"
								aria-hidden="true"></i> Dribbble</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="/about">关于我们</a></li>
						<li><a href="/product">产品列表</a></li>
						<li><a href="/other">贴膜效果</a></li>
						<li><a href="/search">质保查询</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Contact Us</h3>
					<p>沈阳市聚福缘汽车用品有限公司</p>
					<div class="footer-grid-address">
						<p>地址：南阳湖街72栋</p>
						<p>电话：15904041345</p>
						<p>联系人： 高先生</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<p>
			Copyright &copy; 2019.Company name All rights reserved.More Templates
			<a href="/" target="_blank" title="聚福缘车膜">聚福缘车膜</a>
		</p>
	</div>
</body>
</html>